* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#app input {
    display: flex;
    font-size: 16px;
    border-radius: 50px;
    width: 80%;
    max-width: 600px; /* Optional: limit the maximum width */
    padding: 10px; /* Optional: adds spacing inside the input */
    margin: 20px 0; /* Optional: adds some space around the input */
    box-sizing: border-box; /* Ensures padding and borders are included in width */
}
#app #searchButton {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fdfcfc;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#457b9d, #1d3557cd);
    cursor: pointer;
}
#movie-results, #music-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.movie-item, .music-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.2s;
}

.movie-item:hover, .music-item:hover {
    transform: scale(1.25);
}

.movie-poster, .music-album-art {
    width: 100%;
    height: auto;
}

.movie-title, .music-title, .music-artist {
    padding: 10px;
    font-size: 14px;
    color: #333;
}

.movie-title {
    font-weight: bold;
    font-size: 16px;
}

